* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
figcaption,
figure,
footer,
header,
hgroup,
main,
nav {
	display: block;
	margin: 0;
	padding: 0;
}
::selection { 
	text-shadow: none;
	background: rgba(255,150,0, .2)
}
html {
	color: #3b3b3b;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
img,
picture {
	max-width: 100%;
	height: auto;
}
a {
	color: blue;
}
a:hover {
	color: #ea4142;
	text-decoration: none;
}
a:active {
	position: relative;
	bottom: -1px;
}
/* https://drafts.csswg.org/selectors-4/#the-blank-pseudo */
p:empty,
p:blank {
	display: none;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	max-width: 100%;
}

@media(min-width: 35em ) {
	body {
	}
}

/* Helpers
----------------------- */

/* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.a11y-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.a11y-only.focusable:active,
.a11y-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Global Layout
----------------------- */
body {
	background: #f5f5f5;
}
main {
	margin: 0 auto;
	padding: 0 1.5%;
	max-width: 85em; /* Could be bigger. */
}

@media( min-width: 55em ) {
	main {
		padding: 0 2.5%;
	}
}

.site-hed {
	margin: 1em auto .5em auto;
	max-width: 4.5em;
}
@media( min-width: 55em) {
	.site-hed {
		float: left;
		margin: 1.5em 0 0 -.15em;
	}
}

.col {
	clear: both;
}

.cta {
	background: rgba(255,150,0, .15);
	display: block;
	padding: .55em 1em .45em 1em;
	width: 33%;
	min-width: 10em;
	max-width: 20em;
	text-align: center;
	text-decoration: none;
	border: 1px solid rgba(255,150,0, .65);
	transition: all .15s ease-in-out; /* Temp */
	overflow: hidden;
}
.cta:hover,
.cta:focus {
	background: linear-gradient(165deg, rgba(255,250,150,.65) 0%,rgba(255,255,255,0) 100%), rgba(255,125,0, .95);
	border: 1px solid rgba(255,125,0, 1);
	color: #fff;
	outline: none;
	text-shadow: 0 1px 1px rgba(200,105,0, 1);
	transform: scale(1.05);
}

a.cta-prod {
	font-size: 1.8em;
	min-width: 5em;
	position: relative;
	padding: 0 .35em;
	display: inline-block;
}
@media(min-width: 22.5em ) {
	a.cta-prod {
		width: 110%;
	}
}
.vend {
	font-size: .75em;
	font-weight: normal;
	letter-spacing: .02em;
	text-transform: uppercase;
	font-family: "open sans";
}
.cta-prod:hover,
.cta-prod:focus {
	background: rgba(255,125,0, .85);
	transform: none;
}

@media(min-width: 45em ) {
	a.cta-prod {
		width: auto;
	}
}


.primary-foot {
	clear: both;
	margin-top: 5em;
}


.bar {
	background: rgba(255,150,0, .1);
	width: 100%;
	border-bottom: .25em solid rgba(255,150,0, .4);
	border-top: 1px solid rgba(255,150,0, .15);
	border-left: 1px solid rgba(255,150,0, .15);
}
@media(min-width: 40em ) {
	.bar {
	}
}

.search {
	position: relative;
	display: block;
	font-size: 1.2em;

}
@media(min-width: 650px ) {
	.search {
		width: 100%;
	}
}

.search .icon {
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	top: .325em;
	left: .15em;
}

.search:after {
	background: rgba(255,150,0, .85);
	content: "";
	display: block;
	height: 3px;
	position: relative;
	margin-top: -3px;
	width: 0;
	-webkit-transition: width .25s ease-in-out;
	transition: width .25s ease-in-out;
	z-index: 2;
	border-radius: 3px;
}
.search:focus-within:after {
	width: 100%;
}
.search input {
	background: rgba(255,255,255,.75);
	outline: none;
	border: none;
	border: 3px solid rgba(255,150,0, .35);
	font-size: .9em;
	padding: .3em .45em .1em 2em;
	width: 100%;
}
.search input:focus {
	background: rgba(255,255,255,.85);
	outline: none;
}


.search .mag {
	fill: rgba(255,150,0, .6);
}
.search:focus-within .mag {
	fill: rgba(255,150,0, 1);
}

.site-head {
	margin: 0 auto;
	padding: 0 1.5%;
	max-width: 85em;
}

@media( min-width: 55em ) {
	.site-head {
		padding: 0 2.5%;
	}
}

.bar {
	clear: both;
	margin: 0 -2.5%;
	padding: .25em 2.5% .25em 2.5%;
	width: 105%;
}

@media( min-width: 40em ) {
	.bar {
		align-self: center;
		display: flex;
		justify-content: flex-end;
	}
	.search {
		align-self: center;
	}
}

@media( min-width: 55em ) {
	.bar {
		width: 116.5%;
		padding-right: 20%;
	}
	.search {
		max-width: 30%;
	}
}


.sitenav {
	margin: 0 auto;
	padding: .55em 2.5% .3em 2.5%;
}
@media( min-width: 55em ) {
	.sitenav {
		margin: 0;
	}
	.bar {
		position: relative;
	}
	.bar:after {
		background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 2.5%;
		height: 110%;
		z-index: 2;
	}
}
.sitenav > * {
	margin-left: auto;
}
.sitenav li {
	float: left;
	width: 33%;
	text-align: center;
}

.sitenav ul {
	display: flex;
	margin: 0 0 .5em auto;
	padding: 0;
	list-style: none;
}
@media( min-width: 40em ){
	.sitenav ul {
		margin-bottom: 0;
	}
}


.sitenav li a {
	/* border-left: 1px solid rgba(255,150,0, .35); */
}
.sitenav li:first-child a {
	border-left: none;
}

.site-head {
	width: 100%;
}

body { position: relative; }

.skiplink,
.skiplink:focus {
	background: rgba(255,150,0, .15);
	border: solid rgba(255,150,0, .75);
	padding: .5em .75em .25em .75em;
	text-decoration: none;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-width: 0 .15em .15em 0;
	border-radius: 0 0 .5em 0;
}

.listing {
	background: #fff;
	width: 100%;
	max-width: 50em;
	font-size: .9em;
	position: relative;
	margin: 2em 0 3.5em 0;
	z-index: 2;
	border: 1px dotted rgba(255,150,0, .75);
}
.listing+.listing {
	margin-top: -3.55em;
}
.related-prod {
	position: relative;
}
.related-prod .listing {
	max-width: 100%;
	margin: -1px 0 0 0;
	height: auto;
}
.related-prod .listing:before {
	display: none;
}
.related-prod .listing:nth-of-type(even) {
	border-left: none;
}
.listing .cta {
	margin-top: .5em;
}

.related-prod:before,
.listing:before {
	content: "";
	display: block;
	border: 3px solid rgba(255,150,0, .35);
	position: absolute;
	top: -.75em;
	left: .75em;
	right: .75em;
	bottom: -.75em;
	z-index: -1;
}
.listing+.listing:before {
	top: .75em;
}
.listing:after {
	content: "";
	clear: both;
	width: 100%;
}
.listing .price {
	background: rgba(255,150,0, .15);
	border: solid rgba(255,150,0, .15);
	border-width: 0 1px 1px 1px;
	position: absolute;
	top: 0;
	right: 5%;
	margin: 0;
	padding: .35em .5em .2em .5em;
	text-align: center;
	min-width: 2em;
	border-radius: 0 0 .25em .25em;
	font-size: 1.4em;
	z-index: 2;
}
.price del {
	display: block;
	font-size: .85em;
	color: #777;
}

.sale {
	display: inline-block;
	font-family: "open sans";
	clear: none;
	padding-top: .725em;
}

@media( min-width: 30em ) {
	.listing .cta {
		float: left;
	}
	.sale {
		float: left;
		margin-left: 1em;
	}
}


.sale-amt {
	color: rgba(255,100,0, 1);
	font-weight: 600;
}

@media( min-width: 70em ) {
	.listing {
		float: none;
		margin-left: 0;
	}
}



a.prod {
	position: relative;
}
a.prod,
.product-desc {
	display: block;
	background: #fafafa;
	z-index: 2;
}
a.prod {
	display: block;
	padding: 1.2em 1em 1.2em 0;
}
@media( min-width: 45em ) {
	.prod {
		width: auto;
		float: left;
	}
}

a.prod img {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 10em;
	z-index: 2;
}
.product-desc {
	padding: .5em 1.5em 1em 1em;
}
@media( min-width: 30em ) {
	.product-desc {
		padding-right: 12.5%;
	}
}
.product-desc p {
	line-height: 1.2;
}


.navhed {
	position: relative;
}