
.feat {
	min-height: 25em;
	height: 50vw;
	max-height: 30em;
}
.feat {
	font-size: 3.585vw;
}
@media all and (min-width: 450px) {
	.feat {
		font-size: 1em;
	}
}

.subfeat {
	font-size: 3vw;
}
@media all and (min-width: 450px) {
	.subfeat {
		font-size: .85em;
		height: auto;
	}
}
.feat,
.subfeat article {
	background: #eaeaea;
}

.feat-header,
.recipe-header {
	background: rgba(255,255,255,.95);
	display: block;
	border: 1px dotted rgba(255,150,0, .5);
	box-shadow: 0 0 0 7px #fff;

	position: relative;
	text-align: center;
	max-width: 90%;
	width: 20em;
	z-index: 2;
}
.recipe-header {
	margin-top: 3em;
	text-align: left;
	border-left: none;
	width: auto;
	box-shadow:0 0 0 5px #fff;
	font-size: .5em;
	position: relative;
	z-index: 2;
}
.recipe-header .recipe-hed a {
	padding: .7em 1em .4em .5em;
	display: block;
}

.item {
	position: relative;
	overflow: hidden;
}

.item img {
	position: absolute;
	top: -5%;
	transform: scale(1.000000001);
}
.item > a {
	position: static;
	display: block;
}
.highlights > .item {
	min-height: 15em;
	margin-bottom: 2.5%;
	overflow: hidden;
}
@media all and (min-width: 750px) {
	.highlights > .item {
		min-height: 11em;
		height: 20vw;
		max-height: 15em;
	}
}
.feat-header {
	margin: 3em auto 0 auto;
}
.recipe-hed {
	padding: 0;
}

.recipe-hed a {
	display: block;
}

.feat-tag {
	font-size: .85em;
	margin: 0 auto;
	display: inline-block;
	width: auto;
	width: 100%;
	left: 0;
	min-width: 5.5em;
	top: -19px;
	position: absolute;
	padding: .1em 1em 0 1em;
}
.feat-tag a {
	background: rgba(255,150,0, 1);
	color: #333;
	display: inline-block;
	margin: 0 auto;
	padding: .175em 1.25em .15em 1.25em;
	position: relative;
	text-decoration: none;
	width: auto;
	z-index: 2;
	border-radius: .85em .85em .85em .85em / 50% 50% 50% 50%;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
}
.feat-tag a:focus {
	color: #fff;
	box-shadow: 0 0 0 5px rgba(255,150,0, .5);
	outline: none;
	background-color: rgba(255,100,0, 1);
}
.feat-tag a:active {
	background-color: rgba(255,150,0, 1);
}
.feat-tag a:hover {
	color: #fff;
}

.features .recipe-hed a {
	display: block;
	z-index: 2;
	padding: .45em 0 .25em 0;
	position: relative;
	box-shadow: 0 0 0 7px transparent;
}

.recipe-hed a:focus {
	outline: none;
	position: relative;
	z-index: 2;
	box-shadow: 0 0 0 5px rgba(255,150,0, .5);
}
.recipe-hed a:active {
	outline: none;
	box-shadow: 0 0 0 5px transparent;
}
.feat-header .recipe-hed a:focus,
.recipe-header .recipe-hed a:focus {
	outline: none;
	background: #fff;
	box-shadow: 0 0 0 7px rgba(255,150,0, .5);
}
.features .feat-header a:active {
	outline: none;
	box-shadow: 0 0 0 7px transparent;
}

@media( min-width: 35em ) {
	.thumb {
		float: right;
		width: 20%;
		margin: .55em 0 2.5em 2em;
	}
}

@media( min-width: 45em ) {
	.feat-thumb {
		width: 33%;
		max-width: 20em;
	}
}

.additional {
	list-style: none;
	padding: 0;
}
.additional .recipe-hed {
	font-size: 2em;
}
.additional .thumb {
	width: 5em;
	float: right;
	margin: 0;
}


.credit {
	background: #fff;
	display: block;
	font-size: 1.3em;
	margin: 0 0 .7em -1px;
	padding: .45em 1.35em .5em .925em;
	position: absolute;
	top: 100%;
	margin-top: 6px;
	font-family: open sans;
	line-height: 1.2;
	font-weight: bold;
	border-radius: 0 0 .5em 0;
	z-index: 0;
}

.credit:focus {
	background: #fceed9;
	outline: none;
}

.credit:hover b,
.credit:focus b {
	color: rgba(255,100,0, 1);
}
.credit,
.credit:hover {
	color: #666;
	text-decoration: none;
	font-style: normal;
}
.credit b {
	color: #333;
	text-transform: uppercase;
	white-space: nowrap;
}

.index {
	margin: 1em 0;
}
.index .recipeheader {
	font-size: .9em;
}

.features .item .feat-header {
	top: 0;
	position: relative;
	-webkit-transition: transform .15s linear;
	transition: transform .15s linear;
}
.features .item .feat-header:hover {
	transform: translateY(-1.5px);
}
.features .item .feat-header .feat-tag {
	-webkit-transition: transform .15s linear;
	transition: transform .15s linear;
}
.features .item .feat-header:hover .feat-tag {
	transform: translateY(1.5px);
}


.highlights .item .recipe-hed a {
	-webkit-transition: transform .2s linear;
	transition: transform .2s linear;
}

.highlights .item .recipe-hed a:hover {
	transform: translate(3px, 0);
}


@media (prefers-reduced-motion: reduce) {
	.features .item .feat-header {
		-webkit-transition: none;
		transition: none;
	}
	.item .recipe-header {
		-webkit-transition: none;
		transition: none;
	}
}

.cta {
	margin: 1.5em auto 0 auto;
}


.article {
	border: 1px solid rgba(255,150,0, .25);
	overflow: hidden;
	height: 20vw;
}
.articles {
	margin-bottom: 1%;
}
.articles .article {
	margin-bottom: 2%;
}
.art-content {
	background: linear-gradient(rgba(255,255,255,1) 0%,rgba(255,255,255,0)), rgba(255,255,255,.9);
	bottom: 0;
	padding: .65em 10% 1.25em 1em;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.feat .art-content {
	padding-top: .8em;
}
.art-content > * {
	max-width: 35em;
}

.articles .art-content {
	min-height: 50%;
}



.art-content p {
	line-height: 1.25;
	font-size: 1.05em;
}



