<div class="notification" role="alert" tabindex="0" aria-labelledby="notif-hed" aria-describedby="notif-desc">
	<h2 class="recipe-subhed" id="notif-hed">{{ title }}</h2>
	<div id="notif-desc">
		{{ layoutContent | safe }}
	</div>
</div>