---
layout: layouts/listing.njk
tags: nav
navtitle: Recipes
---

{% macro respimg(path, img, alt, lazy=false) %}
{% if lazy %}
<noscript>
<img 
	sizes="(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw"
	srcset="
		{{ path }}{{ img }}-1.jpg 320w,
		{{ path }}{{ img }}-2.jpg 450w,
		{{ path }}{{ img }}-3.jpg 640w,
		{{ path }}{{ img }}-4.jpg 820w,
		{{ path }}{{ img }}-5.jpg 1024w"
	src="{{ path }}{{ img }}-4.jpg" 
	alt="{{ alt }}">
</noscript>
<img 
	data-lazy
	src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	data-sizes="(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw"
	data-srcset="
		{{ path }}{{ img }}-1.jpg 320w,
		{{ path }}{{ img }}-2.jpg 450w,
		{{ path }}{{ img }}-3.jpg 640w,
		{{ path }}{{ img }}-4.jpg 820w,
		{{ path }}{{ img }}-5.jpg 1024w"
	data-src="{{ path }}{{ img }}-4.jpg" 
	alt="{{ alt }}">
{% else %}
<picture>
	<source
		type="image/webp"
		sizes="(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw"
		srcset="
			{{ path }}{{ img }}-1.webp 320w,
			{{ path }}{{ img }}-2.webp 450w,
			{{ path }}{{ img }}-3.webp 640w,
			{{ path }}{{ img }}-4.webp 820w,
			{{ path }}{{ img }}-5.webp 1024w">
	<img 
		sizes="(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw"
		srcset="
			{{ path }}{{ img }}-1.jpg 320w,
			{{ path }}{{ img }}-2.jpg 450w,
			{{ path }}{{ img }}-3.jpg 640w,
			{{ path }}{{ img }}-4.jpg 820w,
			{{ path }}{{ img }}-5.jpg 1024w"
		src="{{ path }}{{ img }}-4.jpg" 
		alt="{{ alt }}">
</picture>
{% endif %}
{% endmacro %}

{% macro item(post, classes='') %}
	<article class="{{ classes }}{% if post.data.type == "article" %}article {% endif %}item">
		{% if ( post.data.type == "article" ) or ( post.data.type == "review" ) %}
		<div class="art-content">
			{% for tag in post.data.tags %}<a href="#category" class="art-section"><span class="a11y-only">Category: </span>{{ tag }}</a>{% endfor %}
			<h3 class="article-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			<p class="lede">{{ post.data.subhed }}</p>
			{% if feat %}
			<p>{{ post.data.lede }}</p>
			{% endif %}
		</div>
		{% else %}

		<div class="recipe-header">
			<h3 class="recipe-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			{% for tag in post.data.tags %}<span class="feat-tag"><a href="tagged/{{ tag | lower }}"><span class="a11y-only">Category: </span>{{ tag }}</a></span>{% endfor %}
		</div>
		{% endif %}
		{% if post.data.img %}
		<a href="{{ post.url | url }}" aria-hidden="true" tabindex="-1">
			{{ respimg('/img/', post.data.img, post.data.alt, false) }}
		</a>
		{% endif %}
	</article>
{% endmacro %}

{{ layoutContent | safe }}
{% set postslist = collections.recipes %}
<h2 class="section-hed" id="all">All Recipes</h2>
<div class="col" aria-labelledby="all">
	<div class="highlights">
{% for post in postslist | reverse %}
	{% if post.data.type == 'recipe' %}
		{{ item(post) }}
	{% endif %}
{% endfor %}
	</div>
</div>