* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header,
main,
nav {
  display: block;
  margin: 0px;
  padding: 0px;
}

html {
  color: rgb(59, 59, 59);
  font-size: 1em;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  color: #3b3b3b;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
  background: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgb(0, 0, 0);
  color: #000;
  text-decoration-color: rgba(250,150,0,.5);
  transition: color .15s linear,text-decoration-color .15s linear;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

.a11y-only {
  border: 0px;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  border: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
  background: #f5f5f5;
}

main {
  margin: 0px auto;
  padding: 0px 4% 0px 2.5%;
  max-width: 80em;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 4% 0 2.5%;
}

@media (min-width: 55em) {
  main {
    padding: 0px 2.5%;
  }
}

.site-hed {
  margin: 1em auto 0.5em;
  max-width: 4.5em;
  width: 100%;
  position: relative;
  height: 4.5em;
  max-height: 4.5em;
  margin: 1em auto .5em auto;
}

.site-hed a {
  position: absolute;
  padding-bottom: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.site-hed img {
  max-width: 100%;
}

@media (min-width: 55em) {
  .site-hed {
    float: left;
    margin: 1.5em 0px 0px -0.15em;
  }
}

.col {
  clear: both;
}

.bar {
  background-color: rgba(255, 150, 0, 0.0980392);
  width: 100%;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 150, 0, 0.4);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 150, 0, 0.14902);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(255, 150, 0, 0.14902);
  background-position: initial initial;
  background-repeat: initial initial;
  background: rgba(255,150,0,.1);
  border-bottom: .25em solid rgba(255,150,0,.4);
  border-top: 1px solid rgba(255,150,0,.15);
  border-left: 1px solid rgba(255,150,0,.15);
  clear: both;
  margin: 0 -2.5%;
  padding: .25em 2.5% .25em 2.5%;
  width: 105%;
  position: relative;
}

.search {
  position: relative;
  display: block;
  font-size: 1.2em;
}

@media (min-width: 650px) {
  .search {
    width: 100%;
  }
}

.search .icon {
  position: absolute;
  top: 50%;
  margin-top: -0.65em;
  left: 0.15em;
  height: 1.5em;
  width: 1.5em;
  margin-top: -.65em;
  left: .15em;
}

.search::after {
  background-color: rgba(255, 150, 0, 0.85098);
  content: '';
  display: block;
  height: 3px;
  position: relative;
  margin-top: -3px;
  width: 0px;
  transition: width 0.25s ease-in-out;
  -webkit-transition: width 0.25s ease-in-out;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-position: initial initial;
  background-repeat: initial initial;
}

.search input {
  background-color: rgba(255, 255, 255, 0.74902);
  outline: 0px;
  border: 3px solid rgba(255, 150, 0, 0.34902);
  font-size: 0.9em;
  padding: 0.3em 0.45em 0.1em 2em;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  background-position: initial initial;
  background-repeat: initial initial;
  background: rgba(255,255,255,.75);
  outline: 0;
  border: none;
  border: 3px solid rgba(255,150,0,.35);
  font-size: .9em;
  padding: .3em .45em .1em 2em;
  border-radius: 0;
  -moz-appearance: none;
  appearance: none;
  font-family: serif;
}

.search .mag {
  fill: rgba(255, 150, 0, 0.6);
  fill: rgba(255,150,0,.6);
}

.site-head {
  margin: 0px auto;
  padding: 0px 1.5%;
  max-width: 85em;
  margin: 0 auto;
  padding: 0 1.5%;
  width: 100%;
  overflow: hidden;
}

.subnav {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0.35em;
  margin-top: 0;
  margin-bottom: .35em;
  clear: both;
}

@media (min-width: 55em) {
  .site-head {
    padding: 0px 2.5%;
  }
}

.bar {
  clear: both;
  margin: 0px -2.5%;
  padding: 0.25em 2.5%;
  width: 105%;
  background: rgba(255,150,0,.1);
  width: 100%;
  border-bottom: .25em solid rgba(255,150,0,.4);
  border-top: 1px solid rgba(255,150,0,.15);
  border-left: 1px solid rgba(255,150,0,.15);
  margin: 0 -2.5%;
  padding: .25em 2.5% .25em 2.5%;
  position: relative;
}





@media (min-width: 35em) {
  .bar {
    margin-bottom: 2em;
  }
}

@media (min-width: 40em) {


  .site-head > div .subnav {
    margin-top: 0.25em;
  }

  .bar {
    margin-bottom: 0px;
  }

  .search {
    width: 95%;
    max-width: 15em;
  }
}

@media (min-width: 55em) {
  .site-head {
    padding-right: 0px;
  }

  .site-hed {
    margin-right: 2.5em;
  }

  .site-head div {
    position: relative;
  }

  .site-head .bar {
    left: 0px;
    margin-left: 0px;
    padding-right: 18.5%;
    margin-right: -10%;
    position: relative;
    width: 110%;
  }

  .subnav {
    margin-right: 8.5%;
  }

  .search {
    max-width: 30%;
  }
}

.sitenav {
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 0.525em 2.5% 0px;
  margin: 0 auto;
  padding: .525em 2.5% 0 2.5%;
}

.sitenav ul {
  display: flex;
  margin: 0 0 .5em auto;
  padding: 0;
  list-style: none;
  width: auto;
}

.sitenav li {
  text-align: center;
  flex-grow: 1;
}

@media (min-width: 55em) {
  .sitenav {
    margin: 0px;
  }

  .bar {
    position: relative;
  }

  .bar::after {
    background-image: linear-gradient(to left, rgb(245, 245, 245) 0px, rgba(255, 255, 255, 0) 100%);
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2.5%;
    height: 110%;
    z-index: 2;
    background-position: initial initial;
    background-repeat: initial initial;
  }
}

.sitenav > * {
  margin-left: auto;
}

.sitenav ul {
  margin: 0px 0px 0.5em auto;
  padding: 0px;
  list-style: none;
  width: auto;
  display: flex;
  margin: 0 0 .5em auto;
  padding: 0;
}

@media (min-width: 40em) {
  .sitenav ul {
    margin-bottom: 0px;
  }
}

@media (min-width: 55em) {
  .bar {
    margin-top: 3.5em;
  }

  .sitenav ul {
    float: right;
  }


}

.sitenav a.nav-item-active {
  color: rgb(0, 0, 0);
  color: #000;
}

.bar {
  position: relative;
  background: rgba(255,150,0,.1);
  width: 100%;
  border-bottom: .25em solid rgba(255,150,0,.4);
  border-top: 1px solid rgba(255,150,0,.15);
  border-left: 1px solid rgba(255,150,0,.15);
  clear: both;
  margin: 0 -2.5%;
  padding: .25em 2.5% .25em 2.5%;
  width: 105%;
}

.sitenav a::after {
  background-color: rgba(255, 150, 0, 0.34902);
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  bottom: -0.2em;
  width: 0px;
  left: 50%;
  margin-left: 0px;
  height: 0.2em;
  border-top-left-radius: 0.125em;
  border-top-right-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
  transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
  background-position: initial initial;
  background-repeat: initial initial;
}

.sitenav a.nav-item-active::after {
  background-color: rgba(255, 125, 0, 0.65098);
  width: 1.5em;
  margin-left: -0.75em;
  background-position: initial initial;
  background-repeat: initial initial;
}

.subnav {
  clear: both;
  text-align: right;
  margin-top: 0;
  margin-bottom: .35em;
}

.subnav li {
  display: inline-block;
  font-size: 0.95em;
  font-size: .95em;
}

.subnav a {
  font-family: 'open sans';
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0px 0.2em;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.subnav a::after {
  width: 0px;
}

.site-head {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 1.5%;
  max-width: 85em;
}

.skiplink {
  position: absolute !important;
  position: absolute!important;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #333;
  max-width: 100%;
}

.skiplink {
  background-color: rgba(255, 150, 0, 0.14902);
  border-style: solid;
  border-color: rgba(255, 150, 0, 0.74902);
  padding: 0.5em 0.75em 0.25em;
  text-decoration: none;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-width: 0px 0.15em 0.15em 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0px;
  background-position: initial initial;
  background-repeat: initial initial;
  position: absolute!important;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #333;
  max-width: 100%;
}

.highlights .item .recipe-hed a {
  -webkit-transition: transform .2s linear;
  transition: transform .2s linear;
}

@media not all {
  .item .recipe-header {
    transition: none;
    -webkit-transition: none;
  }
}

.item {
  border: 1px solid rgba(255, 150, 0, 0.247059);
  border: 1px solid rgba(255,150,0,.25);
  position: relative;
  overflow: hidden;
}

.highlights .item {
  float: left;
  width: 100%;
}

@media (min-width: 45em) {
  .highlights .item {
    width: 50%;
  }
}

@media (min-width: 55em) {
  .highlights .item {
    width: 24.5%;
    margin: 0.25%;
  }
}

@media (min-width: 60em) {
  body {
    font-size: 1.65vw;
  }
}

@media (min-width: 70em) {
  body {
    font-size: 1.155em;
  }
}

h1,
h2,
h3 {
  margin: 0px;
  margin: 0;
}

[class$="-hed"] {
  font-family: sans-serif;
}

.recipe-hed {
  font-weight: 400;
  font-size: 2.75em;
  line-height: 1;
  padding: 0.15em 0px;
  margin-bottom: 0px;
  font-family: serif;
  padding: 0;
}

.recipe-hed {
  font-family: serif;
  padding: 0;
}

.fonts .recipe-hed {
  font-family: 'Fanwood Text';
  font-family: "Fanwood Text";
}

.recipe-hed a {
  color: rgb(68, 68, 68);
  text-decoration: none;
  color: #444;
  display: block;
}

.section-hed {
  clear: both;
  font-family: sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3.5em 0px 1.5em;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 150, 0, 0.45098);
  margin: 10% 0 5% 0;
  letter-spacing: .1em;
  margin: 3.5em 0 1.5em 0;
  border-bottom: 2px solid rgba(255,150,0,.45);
}

.fonts .section-hed {
  font-family: 'open sans';
  font-weight: 400;
  font-family: "open sans";
}

@media (min-width: 60em) {
  .section-hed {
    font-size: 1em;
  }
}

.feat-tag {
  font-family: sans-serif;
  font-size: .85em;
  margin: 0 auto;
  display: inline-block;
  width: auto;
  width: 100%;
  left: 0;
  min-width: 5.5em;
  top: -19px;
  position: absolute;
  padding: .1em 1em 0 1em;
}

.fonts .feat-tag {
  font-family: 'open sans';
  font-weight: 400;
}

.feat-tag a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255,150,0,1);
  color: #333;
  display: inline-block;
  margin: 0 auto;
  padding: .175em 1.25em .15em 1.25em;
  position: relative;
  text-decoration: none;
  width: auto;
  z-index: 2;
  border-radius: .85em .85em .85em .85em/50% 50% 50% 50%;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.sitenav a {
  font-family: sans-serif;
  font-weight: 700;
  padding: 0px 1.25em;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.1;
  color: rgb(68, 68, 68);
  letter-spacing: 0.025em;
  position: relative;
  text-decoration: none;
  padding: 0 1.25em;
  font-size: .8em;
  color: #444;
  letter-spacing: .025em;
}

.fonts .sitenav a {
  font-family: 'open sans';
  font-weight: 400;
  font-family: "open sans";
}

.search input {
  font-family: serif;
  background: rgba(255,255,255,.75);
  outline: 0;
  border: none;
  border: 3px solid rgba(255,150,0,.35);
  font-size: .9em;
  padding: .3em .45em .1em 2em;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fonts .search input {
  font-family: 'Fanwood Text';
  font-family: "Fanwood Text";
}

.skiplink {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: rgb(51, 51, 51);
  max-width: 100%;
  position: absolute!important;
  color: #333;
}

.fonts .skiplink {
  font-family: 'open sans';
  font-weight: 400;
  font-family: "open sans";
}

.recipe-header {
  background-color: rgba(255, 255, 255, 0.952941);
  display: block;
  border: 1px dotted rgba(255, 150, 0, 0.498039);
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 7px;
  position: relative;
  text-align: center;
  max-width: 90%;
  width: 20em;
  z-index: 2;
  background-position: initial initial;
  background-repeat: initial initial;
  margin-top: 3em;
  text-align: left;
  border-left: none;
  width: auto;
  box-shadow: 0 0 0 5px #fff;
  font-size: .5em;
}

.recipe-header {
  margin-top: 3em;
  text-align: left;
  border-left-style: none;
  width: auto;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 5px;
  font-size: 0.5em;
  position: relative;
  z-index: 2;
  border-left: none;
  box-shadow: 0 0 0 5px #fff;
  font-size: .5em;
}

.recipe-header .recipe-hed a {
  padding: 0.7em 1em 0.4em 0.5em;
  display: block;
  padding: .7em 1em .4em .5em;
}

.item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255,150,0,.25);
}

.highlights .item img {
  position: absolute;
  top: -5%;
  width: 100%;
}

.highlights > .item {
  min-height: 15em;
  margin-bottom: 2.5%;
  overflow: hidden;
}

@media (min-width: 750px) {
  .highlights > .item {
    min-height: 11em;
    height: 20vw;
    max-height: 15em;
  }
}

.recipe-hed {
  padding: 0px;
  font-family: serif;
  padding: 0;
}

.recipe-hed a {
  display: block;
  color: #444;
  text-decoration: none;
}

.feat-tag {
  font-size: 0.85em;
  margin: 0px auto;
  display: inline-block;
  width: 100%;
  left: 0px;
  min-width: 5.5em;
  top: -19px;
  position: absolute;
  padding: 0.1em 1em 0px;
  font-size: .85em;
  margin: 0 auto;
  width: auto;
  left: 0;
  padding: .1em 1em 0 1em;
}

.feat-tag a {
  background-color: rgb(255, 150, 0);
  color: rgb(51, 51, 51);
  display: inline-block;
  margin: 0px auto;
  padding: 0.175em 1.25em 0.15em;
  position: relative;
  text-decoration: none;
  width: auto;
  z-index: 2;
  border-top-left-radius: 0.85em 50%;
  border-top-right-radius: 0.85em 50%;
  border-bottom-right-radius: 0.85em 50%;
  border-bottom-left-radius: 0.85em 50%;
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  background-position: initial initial;
  background-repeat: initial initial;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255,150,0,1);
  color: #333;
  margin: 0 auto;
  padding: .175em 1.25em .15em 1.25em;
  border-radius: .85em .85em .85em .85em/50% 50% 50% 50%;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}