{% macro field(name, value='', type='text') %}
<div class="field">
	<input type="{{ type }}" name="{{ name }}"
	value="{{ value | escape }}" />
</div>
{% endmacro %}<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>
		<meta name="description" content="{% if lede %}{{lede }}{% else %}{{ metadata.description }}{% endif %}">

		<meta property="og:site_name" content="{{ metadata.title }}{% if title %} - {{ title }}{% endif %}">
		<link rel="canonical" href="https://wiltomakesfood.com{{ page.url | url }}">

		<!-- Icons, Platform-specific Theme Nonsense, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icons/wmf-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icons/wmf-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icons/wmf-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icons/wmf-114.png">
		<link rel="icon" type="image/png" href="/_assets/img/icons/wmf-32.png" sizes="32x32">
		<meta name="msapplication-TileImage" content="/_assets/img/icons/wmf-144.png">
		<meta name="theme-color" content="#d88123">

		<!-- PWA-ish Biz: -->
		<meta name="application-name" content="Wilto Makes Food">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Twitter Card Stuff: -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{ metadata.title }}">
		<meta name="twitter:title" content="{{ title }}">
		{% if lede %}<meta name="twitter:description" content="{{ lede or subhed }}">{% endif %}
		{% if img %}<meta name="twitter:image" content="https://wiltomakesfood.com/img/{{img}}-4.jpg">{% endif %}

		<!-- Preload: -->
		<link rel="preload" href="/_assets/css/fonts/fanwood_text-webfont.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/_assets/css/fonts/fanwood_text_italic-webfont.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/_assets/css/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" crossorigin>

<!--#if expr='v("HTTP_COOKIE") =~ /primed/' -->
	c
<!--#else -->
	<!--#if expr='v("SERVER_PROTOCOL") =~ /2\.0/' -->
	{% if type == "landing" %}
			<link rel="stylesheet" href="/_assets/css/crit/landing.css?{{ metadata.build }}">
	{% endif %}
	{% if type == "article" or type == "review" or type == "recipe" %}
			<link rel="stylesheet" href="/_assets/css/crit/post.css?{{ metadata.build }}">
	{% endif %}
	{% if page.url == "/" %}
			<link rel="stylesheet" href="/_assets/css/crit/home.css?{{ metadata.build }}">
	{% endif %}
	<!--#else -->
			<style>
	{% if type == "landing" %}
				<!--#include virtual="/_assets/css/crit/landing.css" -->
	{% endif %}
	{% if type == "article" or type == "review" or type == "recipe" %}
				<!--#include virtual="/_assets/css/crit/post.css" -->
	{% endif %}
	{% if page.url == "/" %}
				<!--#include virtual="/_assets/css/crit/home.css" -->
	{% endif %}
			</style>
	<!--#endif -->
<!--#endif -->

		<link rel="stylesheet" href="/_assets/css/all.css?{{ metadata.build }}">

		<!-- RSS Feed(s): -->
		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
	</head>
	<body>
		<a href="#main" class="a11y-only focusable skiplink">Skip to Main Content</a>

		<header role="banner" class="site-head">
			<h1 class="site-hed"><a href="{{ '/' | url }}"><img src="/_assets/img/wmf.png" alt="Wilto Makes Food"></a></h1>

			<div>
				<div class="bar">
					<nav role="navigation" class="sitenav">
						<ul>
							{%- for nav in collections.nav | reverse -%}
							{% if nav.data.navtitle.toLowerCase() != "home" %}
								<li><a href="{{ nav.url | url }}" class='{% if nav.url == page.url or nav.data.navtitle.toLowerCase() == type + "s" %}nav-item-active{% endif %}'{% if nav.url == page.url %} aria-current="page"{% endif %}>{{ nav.data.navtitle }}</a></li>
							{% endif %}
							{%- endfor -%}
						</ul>
					</nav>

					<form class="search" method="post" action="/search/">
						<label for="search">
							<span class="a11y-only">Search</span>
							<input type="search" id="search" name="search" placeholder="Search for&hellip;">
						</label>
						<label>
							<span class="a11y-only">Submit search query</span>
							<svg class="icon icon-search" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 60 75" enable-background="new 0 0 60 60" xml:space="preserve">
								<path class="mag" d="M50.317,44.678l-5.96-5.96c-1.163-1.163-2.855-1.465-4.3-0.921l-3.458-3.458  c4.615-6.061,4.172-14.739-1.358-20.279c-6.04-6.04-15.83-6.04-21.87,0c-6.03,6.04-6.03,15.82,0,21.86  c5.739,5.739,14.856,6.014,20.932,0.847l3.392,3.392c-0.544,1.446-0.242,3.137,0.921,4.3l5.96,5.96c1.586,1.586,4.156,1.586,5.742,0  C51.903,48.835,51.903,46.264,50.317,44.678z M16.34,32.96c-4.4-4.4-4.4-11.54,0-15.94c4.4-4.4,11.53-4.4,15.93,0  c4.4,4.4,4.4,11.54,0,15.94C27.87,37.36,20.74,37.36,16.34,32.96z"/>
							</svg>
							<input type="submit" class="a11y-only">
						</label>
					</form>
				</div>
				<ul class="subnav">
					{% set subnavs = collections.subnav | reverse %}
					{%- for subnav in subnavs -%}
					<li><a href="{{ subnav.url | url }}"{% if subnav.url == page.url %} aria-current="page"{% endif %} class="{% if subnav.url == page.url %}subnav-item-active{% endif %}">{{subnav.data.navtitle}}</a></ li>
					{%- endfor -%}
				</ul>
			</div>
		</header>


		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			{% if notif %}
				{% include "notif.njk" %}
			{% endif %}
			{{ layoutContent | safe }}
		</main>

		<footer class="site-foot">
			<div class="footwrap">
				<div>
					<h4 class="section-hed">Sponsors</h4>
					<div class="sponsorship">
						<p>Hey.</p>

						<p>Want to get previews of upcoming recipes, tips, techniques, and maybe even cook something together? Check out my <a href="https://www.patreon.com/wilto">Patreon</a>, and we can turn this into a whole <em>thing</em>.</p>
					</div>
				</div>
				<div class="colophon">
					<h4 class="section-hed">Colophon</h4>
					<p>The <i>Wilto Makes Food</i> website is set in <a class="open-sans type" href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a> and <a class="type" href="https://www.theleagueofmoveabletype.com/fanwood">Fanwood</a>.</p>

					<p>Built with <a href="https://www.11ty.io/">Eleventy</a>. The source is available <a href="https://github.com/Wilto/wilto-makes-food">on GitHub.</a> For questions, comments, or problems using the site, <a href="https://github.com/Wilto/wilto-makes-food/issues">report an issue</a>.</p>
				</div>

				<div class="foot-nav">
					<p>&copy; 2018, Mat Marquis</p>
				</div>
			</div>
		</footer>

		<script>
			if('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/service-worker.js?{{ metadata.build }}');
			}
		</script>

		<script src="/_assets/js/lazyimg.min.js?{{ metadata.build }}"></script>

		<script>
		/*
			var _paq = _paq || [];
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
			(function() {
				var u="//wiltomakesfood.com/analytics/";

				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		*/
		</script>
	</body>
</html>
