{% macro field(name, value='', type='text') %}
<div class="field">
	<input type="{{ type }}" name="{{ name }}"
	value="{{ value | escape }}" />
</div>
{% endmacro %}<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ title or metadata.title }}</title>
		<meta property="og:site_name" content="{{ metadata.title }} - {{ title }}" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="{{ metadata.title }}" />
		<meta name="twitter:title" content="{{ title }}" />
		{% if lede %}<meta name="twitter:description" content="{{ lede or subhed }}" />{% endif %}
		{% if img %}<meta name="twitter:image" content="/img/{{img}}-4.jpg" />{% endif %}

		<link rel="canonical" href="{{ page.url | url }}"/>

		<link rel="preload" href="/_assets/css/fonts/fanwood_text-webfont.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/_assets/css/fonts/fanwood_text_italic-webfont.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/_assets/css/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" crossorigin>

		<link rel="stylesheet" href="{{ '/_assets/css/all.css' | url }}">

		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
	</head>
	<body>
		<a href="#main" class="a11y-only focusable skiplink">Skip to Main Content</a>

		<header role="banner" class="site-head">
			<h1 class="site-hed"><a href="{{ '/' | url }}"><img src="/_assets/img/wmf.png" alt="Wilto Makes Food"></a></h1>
		</header>


		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			<p>See you Friday.</p>
		</main>

		<footer class="site-foot">
			<div class="footwrap">
				<div>
					<h4 class="section-hed">Sponsors</h4>
					<div class="sponsorship">
						<p>Hey.</p>
						<p>Want to get previews of upcoming recipes, tips, techniques, and maybe even cook something together? Check out my <a href="https://www.patreon.com/wilto">Patreon</a>, and we can turn this into a whole <em>thing</em>.</p>
					</div>
				</div>
				<div class="colophon">
					<h4 class="section-hed">Colophon</h4>
					<p>The <i>Wilto Makes Food</i> website is set in <a class="open-sans type" href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a> and <a class="type" href="https://www.theleagueofmoveabletype.com/fanwood">Fanwood</a>.</p>

					<p>Built with <a href="https://www.11ty.io/">Eleventy</a>. The source is available <a href="https://github.com/Wilto/wilto-makes-food">on GitHub.</a> For questions, comments, or problems using the site, <a href="https://github.com/Wilto/wilto-makes-food/issues">report an issue</a>.</p>
				</div>
			</div>
		</footer>

		<script type="text/javascript">
			if('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/service-worker.js');
			}
		</script>
	</body>
</html>
