---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% macro respimg(path, img, sizes, alt) %}
<img 
	sizes="{{ sizes }}"
	srcset="
		{{ path }}{{ img }}-1.jpg 320w,
		{{ path }}{{ img }}-2.jpg 450w,
		{{ path }}{{ img }}-3.jpg 640w,
		{{ path }}{{ img }}-4.jpg 820w,
		{{ path }}{{ img }}-5.jpg 1024w"
	src="{{ path }}{{ img }}-4.jpg" 
	alt="{{ alt }}">
{% endmacro %}

{% macro homeitem(post, feat=false, classes='', sizes='100vw') %}
	<article class="{{ classes }}{% if post.data.type == "article" %} article{% endif %} item">
		{% if ( post.data.type == "article" ) or ( post.data.type == "review" ) %}
		<div class="art-content">
			{% if post.data.tags %}
			{% if post.data.tags !== "subnav" %}
			<a href="/recipes/tagged/?t={{ post.data.tags | lower }}" class="art-section"><span class="a11y-only">Category: </span>{{ post.data.tags }}</a>{% endif %}
			{% endif %}
			<h3 class="article-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			<p class="lede">{{ post.data.subhed }}</p>
			{% if classes != "sub" %}
			<p>{{ post.data.lede }}</p>
			{% endif %}
		</div>
		{% else %}
		{% if feat %}
		<div class="feat-header">
		{% else %}
		<div class="recipe-header">
		{% endif %}
			<h3 class="recipe-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			{% for tag in post.data.tags %}<span class="feat-tag"><a href="/recipes/tagged/?t={{ tag | lower }}"><span class="a11y-only">Category: </span>{{ tag }}</a></span>{% endfor %}
		</div>
		{% endif %}
		{% if post.data.img %}
		<a href="{{ post.url | url }}" aria-hidden="true" tabindex="-1">
			{{ respimg('/img/', post.data.img, sizes, post.data.alt) }}
		</a>
		{% endif %}
	</article>
{% endmacro %}

{% set postslist = collections.posts %}
<h2 class="section-hed a11y-only" id="features">Features</h2>
<section class="col features" role="region" aria-labelledby="features">
{% for post in postslist %}
	{% if post.data.feat %}
		{{ homeitem(post, true, 'feat', '(min-width: 1480px) 935px, (min-width: 800px) 64vw, 98vw') }}
	{% endif %}
{% endfor %}

	<div class="subfeat">
	{% for post in postslist %}
		{% if post.data.subfeat %}
			{{ homeitem(post, true, 'sub', '(min-width: 1480px) 465px, (min-width: 800px) 33vw, (min-width: 650px) 48vw, 98vw' ) }}
		{% endif %}
	{% endfor %}
	</div>
</section>

<h2 class="section-hed" id="latest-rec">Latest Recipes</h2>
<section class="col" role="region" aria-labelledby="latest-rec">
	<div class="highlights">
{% for post in postslist | reverse %}
{% if ( post.data.feat != true ) and ( post.data.subfeat != true ) and ( post.data.type == "recipe" ) %}
	{{ homeitem(post,'','','(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw') }}
{% endif %}
{% endfor %}
	</div>
	<a href="/recipes/" class="cta">All Recipes</a>
</section>

<h2 class="section-hed" id="latest-art">Latest Articles</h2>
<section class="col" role="region" aria-labelledby="latest-art">
	<div class="highlights">
{% for post in postslist | reverse %}
{% if ( post.data.feat != true ) and ( post.data.subfeat != true ) and ( post.data.type == "article" ) %}
	{{ homeitem(post, '', '', '(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw') }}
{% endif %}
{% endfor %}
	</div>
	<a href="/articles/" class="cta">All Articles</a>
</section>

<h2 class="section-hed" id="latest-rev">Latest Reviews</h2>
<section class="col" role="region" aria-labelledby="latest-rev">
	<div class="highlights">
{% for post in postslist | reverse %}
{% if ( post.data.feat != true ) and ( post.data.subfeat != true ) and ( post.data.type == "review" ) %}
	{{ homeitem(post, '', '', '(min-width: 1560px) calc(-1.25vw + 358px), (min-width: 760px) calc(21.03vw + 14px), (min-width: 500px) 47.5vw, 97.22vw') }}
{% endif %}
{% endfor %}
	</div>
	<a href="/recipes/" class="cta">All Reviews</a>
</section>
