---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% if( layoutContent ) %}
{% include "notif.njk" %}
{% endif %}

<h2 class="section-hed" id="saved">Saved for Offline Reading</h2>
<nav role="navigation" aria-labelledby="saved" class="offline-reader">
</nav>

<script>
(function(){
	let all = {
{% for post in collections.posts | reverse %}
		"{{ post.data.page.url }}" : {
			"title" : "{{ post.data.title | safe }}"
		},
{% endfor %}
	};

	if( 'serviceWorker' in navigator ) {
		let messageChannel = new MessageChannel(),
			p = {
				protocol: '^(http(s)?(:\/\/))?(www\.)?',
				domain: '[a-zA-Z0-9-_\.]+',
				tld: '(\.[a-zA-Z0-9]{2,})',
				params: '([-a-zA-Z0-9:%_\+.~#?&//=]*)'
			};

		messageChannel.port1.onmessage = function(event) {
			let offline = document.querySelector( '.offline-reader' ),
				items = [];

			event.data.forEach(item => {
				let title;

				if( item !== null ) {
					var pattern = new RegExp(p.protocol + p.domain + p.tld + p.params, 'gi');
					var res = pattern.exec(item);
					title = all[ res[6] ].title;
					items.push( '<li><a href="' + item + '">' + title + '</a></li>' );
				}
			});
			offline.innerHTML = items.join('');
		};

		if( navigator.serviceWorker.controller ) {
			navigator.serviceWorker.controller.postMessage( "getPages", [messageChannel.port2] );
		}
	}
}());
</script>
