---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% if title %}
<header role="alert" class="recipeheader" aria-labelledby="notif-hed">
	<h2 class="recipe-hed" id="notif-hed">{{ title | safe }}</h2>
	<span class="meta"></span>
</header>
{% endif %}

{{ layoutContent | safe }}

<div class="offline-reader">
</div>

<script>
(function(){
	let all = {
{% for post in collections.posts | reverse %}
		"{{ post.data.page.url }}" : {
			"title" : "{{ post.data.title | safe }}",
			"type" :"{{ post.data.type | safe }}"
		},
{% endfor %}
	};
	window.wmf = {};
	window.wmf.allPosts = all;
}());
</script>

<script src="/_assets/js/offline.min.js"></script>