---
layout: layouts/base.njk
templateClass: tmpl-post
type: utility
---

<div class="col">
	<div class="intro">
		<header role="banner" class="recipeheader error">
			<h2 class="recipe-hed" itemprop="name">{{ title }}</h2>
		</header>

		{% if lede %}
		<p class="lede" itemprop="description">{{ lede | safe }}</p>
		{% endif %}

		{{ layoutContent | safe }}

		<div class="offline-reader"></div>
	</div>
</div>
<script>
(function(){
	let all = {
{% for post in collections.posts | reverse %}
		"https://wiltomakesfood.com{{ post.data.page.url }}" : {
			"title" : "{{ post.data.title | safe }}",
			"type" :"{{ post.data.type | safe }}"
		},
{% endfor %}
	};
	window.wmf = {};
	window.wmf.allPosts = all;
}());
</script>
<script src="/_assets/js/offline.min.js?{{ metadata.build }}"></script>
