---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="col">
	<div class="intro">
		<header role="banner" class="recipeheader">
			<h2 class="recipe-hed">{{ title }}</h2>
			<span class="meta"></span>
		</header>

		<figure class="feat-thumb">
			<span>
				<img src="https://instagram.fnyc1-1.fna.fbcdn.net/vp/69cdfe3a169f6bbcf08e7ade8dbc70d1/5AF6CFEA/t51.2885-15/e35/26870750_198662694018560_1326976192443580416_n.jpg" aria-describedby="capt-1">
			</span>
		</figure>

		{{ layoutContent | safe }}

	</div>
</div>
