---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="col">
	<div class="intro">
		<header role="banner" class="recipeheader">
			<h2 class="recipe-hed">{{ title }}</h2>
			<span class="meta"></span>
		</header>

		{% if img %}
		<figure class="feat-thumb">
			<img src="{{img}}" alt="{{alt}} aria-describedby="capt-1">
			{% if capt %}
			<figcaption>
				<p class="caption">{{capt}}</p> 
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{{ layoutContent | safe }}

	</div>
</div>
