---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="col" itemscope itemtype="http://schema.org/Recipe">
	<div class="intro">
		<header role="banner" class="recipeheader">
			<h2 class="recipe-hed" itemprop="name">{{ title }}</h2>
			<dl class="meta">
				{% if meta.serves %}
				<dt>Serves</dt>
				<dd itemprop="recipeYield">{{meta.serves}}</dd>
				{% endif %}
				{% if meta.active %}
				<dt>Active Time</dt>
				<dd >{{meta.active}}</dd>
				{% endif %}
				{% if meta.total %}
				<dt>Total Time</dt>
				<dd itemprop="totalTime">{{meta.total}}</dd>
				{% endif %}
			</dl>
		</header>

		{% if img %}
		<figure class="feat-thumb">
			<img src="{{img}}" alt="{{alt}} aria-describedby="capt-1">
			{% if capt %}
			<figcaption>
				<p class="caption">{{capt}}</p> 
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{{ layoutContent | safe }}

	</div>

	<h3 class="inline-hed" id="recipe-sub0">Ingredients</h3>
	<ul class="ingredients" aria-labelledby="recipe-sub0">
		{%- for ing in ingredients -%}
		<li itemprop="ingredients">
			<p><span class="amt">{{ing.amt.whole}}<b class="frac" role="presentation">{{ing.amt.frac}}</b> {% if ing.amt.measure.abbr %}<abbr title="{{ing.amt.measure.full}}" role="presentation">{{ing.amt.measure.abbr}}</abbr>{% else %}{{ing.amt.measure}}{% endif %}</span>
			{{ing.name}}</p>
		</li>
		{%- endfor -%}
	</ul>

		<div class="instructions">
			<h3 class="inline-hed">Instructions</h3>

		{% if instructions[0].stage %}
			{%- for ins in instructions -%}
			<h4 class="recipe-subhed"><span class="a11y-only">Instructions </span>for the {{ins.stage}}</h4>
			<ol class="steps">
				{%- for step in ins.steps -%}
				<li><p>{{step}}</p></li>
				{%- endfor -%}
			</ol>
			{%- endfor -%}
		{% else %}
			<ol class="steps">
				{%- for ins in instructions -%}
				<li><p>{{ins}}</p></li>
				{%- endfor -%}
			</ol>
		{% endif %}
		</div>

	</div>
</div>