---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% macro respimg(path, img, sizes, alt, capt) %}
<img 
	sizes="{{ sizes }}"
	srcset="
		{{ path }}{{ img }}-1.jpg 320w,
		{{ path }}{{ img }}-2.jpg 450w,
		{{ path }}{{ img }}-3.jpg 640w,
		{{ path }}{{ img }}-4.jpg 820w,
		{{ path }}{{ img }}-5.jpg 1024w"
	src="{{ path }}{{ img }}-4.jpg" 
	{% if capt %}
	aria-describedby="capt-1"
	{% endif %}
	alt="{{ alt }}">
{% endmacro %}

<div class="col" itemscope itemtype="http://schema.org/Recipe">
	<div class="intro">
		<header role="banner" class="recipeheader">
			{% for tag in tags %}
				<a href="/recipes/tagged/?t={{ tag }}" class="art-section"><span class="a11y-only">Category: </span>{{ tag }}</a>
			{% endfor %}
			<h2 class="recipe-hed" itemprop="name">{{ title }}</h2>


			<dl class="meta">
				{% if meta.serves %}
				<dt>Serves</dt>
				<dd itemprop="recipeYield">{{meta.serves}}</dd>
				{% endif %}
				{% if meta.active %}
				<dt>Active Time</dt>
				<dd >{{meta.active}}</dd>
				{% endif %}
				{% if meta.total %}
				<dt>Total Time</dt>
				<dd itemprop="totalTime">{{meta.total}}</dd>
				{% endif %}
			</dl>
		</header>

		{% if img %}
		<figure class="feat-thumb">
			{{ respimg('/img/', img, '(min-width: 560px) 38vw, 100vw', alt, capt ) }}
			{% if capt %}
			<figcaption id="capt-1" class="caption">
				{{capt}}
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{% if video %}
		<figure class="feat-thumb" aria-describedby="pagevid">
			<video controls>
				<source src="/_assets/media/{{video}}.mp4" type="video/mp4">
				<track kind="captions" src="/_assets/media/{{video}}.vtt">
				Sorry, I’m having trouble loading this video.
			</video>
			{% if capt %}
			<figcaption id="pagevid" class="caption">
				{{capt}}
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{% if lede %}
		<p class="lede">{{lede}}</p>
		{% endif %}

		{{ layoutContent | safe }}

	</div>

{% if ingredients %}
	<h3 class="inline-hed" id="recipe-sub0">Ingredients</h3>
	<ul class="ingredients" aria-labelledby="recipe-sub0">
		{%- for ing in ingredients -%}
		<li itemprop="ingredients">
			<p><span class="amt">{{ing.amt.whole}}<b class="frac" role="presentation">{{ing.amt.frac}}</b> {% if ing.amt.measure.abbr %}<abbr title="{{ing.amt.measure.full}}" role="presentation">{{ing.amt.measure.abbr}}</abbr>{% else %}{{ing.amt.measure}}{% endif %}</span>
			{% if ing.href %}<a href="{{ ing.href }}">{% endif %}{{ing.name}}{% if ing.href %}</a>{% endif %}{% if ing.notes %}, {{ing.notes}}{%- endif -%}</p>
			{% if ing.optional %}<span class="opt">Optional</span>{%- endif -%}
		</li>
		{%- endfor -%}
	</ul>
{% endif %}
{% if instructions %}
		<div class="instructions">
			<h3 class="inline-hed">Instructions</h3>

		{% if instructions[0].stage %}
			{%- for ins in instructions -%}
			<h4 class="recipe-subhed"><span class="a11y-only">Instructions </span>for the {{ins.stage}}</h4>
			<ol class="steps">
				{%- for step in ins.steps -%}
				<li><p>{{step}}</p></li>
				{%- endfor -%}
			</ol>
			{%- endfor -%}
		{% else %}
			<ol class="steps">
				{%- for ins in instructions -%}
				<li><p>{{ins}}</p></li>
				{%- endfor -%}
			</ol>
		{% endif %}
		</div>
	{% endif %}

	</div>
</div>