* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
figcaption,
figure,
footer,
header,
hgroup,
main,
nav {
	display: block;
	margin: 0;
	padding: 0;
}
::selection { 
	text-shadow: none;
	background: rgba(255,150,0, .2)
}
html {
	color: #3b3b3b;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
img,
picture {
	max-width: 100%;
	height: auto;
}
a {
	color: rgba(250,105,0,1);
}
a:hover {
	color: #ea4142;
	text-decoration: none;
}
a:active {
	position: relative;
	bottom: -1px;
}
/* https://drafts.csswg.org/selectors-4/#the-blank-pseudo */
p:empty,
p:blank {
	display: none;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	max-width: 100%;
}

/* Helpers
----------------------- */

/* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.a11y-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.a11y-only.focusable:active,
.a11y-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}