
@font-face {
	font-family: "Fanwood Text";
	src: url('/_assets/css/fonts/fanwood_text-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fanwood Text";
	src: url('/_assets/css/fonts/fanwood_text_italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/_assets/css/fonts/OpenSans-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/_assets/css/fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Font scaling */
@media( min-width: 60em ) {
	body { 
		font-size: 1.65vw;
	}
}
@media( min-width: 70em ) {
	body { 
		font-size: 1.155em;
	}
}
