---
layout: layouts/listing.njk
permalink: /recipes/tagged/index.php
type: utility
---

<?php
$needle = $_GET["t"];

if( $needle != null ) {
	$file = file_get_contents( '../../posts.json' );
	$json = json_decode( $file, true );
	$matches;

	print_r( json_decode( $file ) );

	foreach( $json['posts'] as $key => $hay ) {
		if( iconv("ISO-8859-1", "UTF-8", stripos( strtolower( $hay['tags'] ), $needle ) ) !== "" ) {
			$matches[] = $hay;
		}
	}
	if( sizeof( $matches ) > 0 ) {
		$matches = array_map("unserialize", array_unique(array_map("serialize", $matches)));
	}
}

?>

<?php if( $needle ): ?>
<h2 class="section-hed" id="results">Recipes Tagged: <b><?= $needle; ?></b></h2>
<div class="results" aria-labelledby="results">
<?php if( sizeof( $matches ) === 0 ): ?>
	<p class="bad-end">Sorry, I couldn’t find anything tagged with <?= $needle ?>.</p>
<?php else: ?>
<?php foreach( $matches as $post): ?>
	<?php if( $post['type'] != "landing" ): ?>
		<article class="item <?php if( $post['img']['file'] ) print ' result-split' ?>">
		<?php if( $post['img']['file'] ): ?>
			<a href="<?= $post['url']; ?>">
				<img 
					sizes="(min-width: 1560px) calc(-1.11vw + 332px), (min-width: 880px) calc(19.24vw + 19px), (min-width: 560px) 47.67vw, 97.08vw"
					srcset="/img/<?= $post['img']['file']; ?>-1.jpg 320w,
						/img/<?= $post['img']['file']; ?>-2.jpg 450w,
						/img/<?= $post['img']['file']; ?>-3.jpg 640w"
					src="/img/<?= $post['img']['file']; ?>-3.jpg" alt="<?= $post['img']['alt']; ?>">
			</a>
		<?php endif; ?>
		<div class="art-content">
			<h3 class="article-hed"><a href="<?= $post['url']; ?>"><?= $post['title']; ?></a></h3>
			<?php if( $post['subhed'] ): ?>
			<p class="subhed"><?= $post['subhed']; ?></p>
			<?php endif; ?>
			<?php if( $post['lede'] ): ?>
				<p class="lede"><?= $post['lede']; ?></p>
			<?php endif; ?>
			</div>
	</article>
	<?php endif; ?>
<?php endforeach; ?>
<?php endif; ?>
</div>
<?php else: ?>
	<p>No tag selected!</p>
<?php endif; ?>