---
permalink: posts.json
---
{
	"posts" : [
{% set comma = joiner(',') %}

{% for post in collections.posts | reverse %}
{% set ingcomma = joiner(',') %}

{% if post.data.type %}
{{ comma() }}{
		{% if post.data.keywords %}
		"keywords" : "{{ post.data.keywords | e }}",
		{% endif %}
		"url" : "{{ post.data.page.url | e }}",
		{% if post.data.subhed %}
		"subhed" : "{{ post.data.subhed | e }}",
		{% endif %}
		{% if post.data.lede %}
		"lede" : "{{ post.data.lede | e }}",
		{% endif %}
		"type" : "{{ post.data.type | e }}",
		"tags" : "{{ post.data.tags | e }}",
		"title" : "{{ post.data.title | e }}"
		{% if post.data.img %}
		,"img" : {
			"file" : "{{ post.data.img | e }}",
			{% if post.data.capt %}
			"capt" : "{{ post.data.capt | e }}",
			{% endif %}
			"alt" : "{{ post.data.alt | e }}"
		}
		{% endif %}
		{% if post.data.ingredients.length %}
		,"ingredients" : [
			{%- for ing in post.data.ingredients %}
			{{ ingcomma() }}
				"{{ing.name}}"
			{%- endfor -%}
		]
		{% endif %}
	}
{% endif %}
{% endfor %}
]}