---
permalink: search/posts.json
---
{
	"posts" : [
{% set comma = joiner(',') %}

{% for post in collections.posts | reverse %}
{% set ingcomma = joiner(',') %}

{% if post.data.type %}
{{ comma() }}{
		{% if post.data.keywords %}
		"keywords" : "{{ post.data.keywords | safe }}",
		{% endif %}
		"url" : "{{ post.data.page.url | safe }}",
		{% if post.data.subhed %}
		"subhed" : "{{ post.data.subhed | safe }}",
		{% endif %}
		{% if post.data.lede %}
		"lede" : "{{ post.data.lede | safe }}",
		{% endif %}
		"type" : "{{ post.data.type | safe }}",
		"tags" : "{{ post.data.tags | safe }}",
		"title" : "{{ post.data.title | safe }}"
		{% if post.data.img %}
		,"img" : {
			"file" : "{{ post.data.img | safe }}",
			{% if post.data.capt %}
			"capt" : "{{ post.data.capt | safe }}",
			{% endif %}
			"alt" : "{{ post.data.alt | safe }}"
		}
		{% endif %}
		{% if post.data.ingredients.length %}
		,"ingredients" : [
			{%- for ing in post.data.ingredients %}
			{{ ingcomma() }}
				"{{ing.name}}"
			{%- endfor -%}
		]
		{% endif %}
	}
{% endif %}
{% endfor %}
]}