.features {
	display: grid;
	grid-template-columns: auto 33%;
	grid-gap: 1%;
}
.feat,
.subfeat {
	grid-column: 1 / span 2;
}
.highlights {
	display: grid;
	grid-template-columns: repeat( 1, 1fr );
	grid-gap: 1.5%;
}
@media all and (min-width: 500px) {
	.highlights {
		display: grid;
		grid-template-columns: repeat( 2, 1fr );
		grid-gap: 1.5%;
	}
}
@media all and (min-width: 750px) {
	.highlights {
		grid-template-columns: repeat( 4, 1fr );
		grid-gap: 1%;
	}
}

@media all and (min-width: 850px) {
	.highlights {
		grid-gap: .5%;
	}
}

.subfeat {
	display: grid;
	grid-gap: 1%;
}
.subfeat > .item {
	height: 25vw;
	min-height: 15em;
	margin-top: 1%;
}
@media all and (min-width: 650px) {
	.subfeat {
		grid-template-columns: repeat( 2, 1fr );
		width: 100%;
	}
	.subfeat > .item {
		grid-column: 1;
		margin-top: 1.5%;
	}
	.subfeat > .item:nth-of-type(even) {
		grid-column: 2;
	}

}
@media all and (min-width: 800px) {
	.features {
		grid-gap: .5%;
	}
	.feat {
		grid-column: 1;
	}
	.subfeat {
		grid-column: 2;
		grid-gap: 1%;
	}
	.subfeat > .item,
	.subfeat > .item:nth-of-type(even) {
		grid-column: 1 / span 2;
		height: auto;
		margin-top: 0;
	}
}

@media( min-width: 55em ) {
	.site-head {
		display: grid;
		grid-template-columns: 15% 85%;
		grid-gap: 5%;
	}
}

.articles {
	display: grid;
	grid-gap: .55%;
}
.articles > .article {
	min-height: 15em;
}

@media( min-width: 40em ) {
	.articles {
		grid-template-columns: repeat( 2, 1fr );
	}
}
@media( min-width: 65em ) {
	.articles {
		grid-template-columns: repeat( 3, 1fr );
	}
}
@media( min-width: 85em ) {
	.articles {
		grid-template-columns: repeat( 4, 1fr );
	}
}

@media( min-width: 30em ) {
	.listing {
		display: grid;
		grid-template-columns: 25% auto;
	}
}

.ingredients .amt {
	min-width: 4em;
}

.related-prod {
	display: grid;
}
@media( min-width: 45em ) {
	.related-prod {
		grid-template-columns: 1fr 1fr;
	}
}

.footwrap {
	display: grid;
	grid-template-columns: auto;
}
@media( min-width: 60em ) {
	.footwrap {
		grid-template-columns: auto 40%;
	}
}

.insta-thumbs {
	display: grid;
	grid-gap: 1.5%;
}
@media( min-width: 35em ) {
	.insta-thumbs {
		grid-template-columns: 1fr 1fr;
	}
}
@media( min-width: 55em ) {
	.insta-thumbs {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

