
/* Font scaling */
@media( min-width: 60em ) {
	body { 
		font-size: 1.65vw;
	}
}
@media( min-width: 70em ) {
	body { 
		font-size: 1.155em;
	}
}

.feat {
	font-size: 3.585vw;
}
@media all and (min-width: 450px) {
	.feat {
		font-size: 1em;
	}
}