---
permalink: .htaccess
---

# gzip:
AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

# Error pages:
ErrorDocument 404 /404.html

# Far-future caching:
<FilesMatch "\.(jpg|jpeg|png|gif|woff|woff2|js|css|webp)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

Options +Includes

AddHandler server-parsed .html 

Header set Set-Cookie "cache=primed"