---
permalink: .htaccess
---

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

<FilesMatch "\.(jpg|jpeg|png|gif|woff|woff2|js|css)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>