---
permalink: .htaccess
---

AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

<FilesMatch "\.(jpg|jpeg|png|gif|woff|woff2|js|css)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
 
<FilesMatch "\.html$">
Header add Link "</_assets/css/all.css>; rel=preload; as=style"
</FilesMatch>