---
permalink: sw-init.js
---

(function() {
	if('serviceWorker' in navigator && location.hostname !== "localhost" ) {
		navigator.serviceWorker.register('/service-worker.js?{{ metadata.build }}');
	}
}());
 