---
permalink: webappmanifest.json
---
{
  "lang": "en",
  "dir": "ltr",
  "name": "{{ metadata.title }}",
  "description": "{{ metadata.description }}",
  "short_name": "{{ metadata.shortname }}",
  "icons": [{
    "src": "/_assets/img/icons/wmf-192.png",
    "sizes": "192x192",
    "type": "image/png"
  },
  {
    "src": "/_assets/img/icons/wmf-256.png",
    "sizes": "256x256",
    "type": "image/png"
  },
  {
    "src": "/_assets/img/icons/wmf-384.png",
    "sizes": "384x384",
    "type": "image/png"
  },
  {
    "src": "/_assets/img/icons/wmf-512.png",
    "sizes": "512x512",
    "type": "image/png"
  }],
  "start_url": "/",
  "display": "standalone",
  "orientation": "natural",
  "theme_color": "#247200",
  "background_color": "#247200"
}