---
layout: layouts/listing.njk
tags: nav
navtitle: Reviews
---

{% macro item(post, classes='') %}
	<article class="{{ classes }}{% if post.data.type == "article" %}article {% endif %}item">
		{% if ( post.data.type == "article" ) or ( post.data.type == "review" ) %}
		<div class="art-content">
			{% for tag in post.data.tags %}<a href="#category" class="art-section"><span class="a11y-only">Category: </span>{{ tag }}</a>{% endfor %}
			<h3 class="article-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			<p class="lede">{{ post.data.subhed }}</p>
			{% if feat %}
			<p>{{ post.data.lede }}</p>
			{% endif %}
		</div>
		{% else %}

		<div class="recipe-header">
			<h3 class="recipe-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
			{% for tag in post.data.tags %}<span class="feat-tag"><a href="#category"><span class="a11y-only">Category: </span>{{ tag }}</a></span>{% endfor %}
		</div>
		{% endif %}
		<a href="{{ post.url | url }}" aria-hidden="true" tabindex="-1">
			<img src="https://instagram.fphl1-2.fna.fbcdn.net/vp/1fc6959d9882890a180acb0a5a2981a9/5B0AE691/t51.2885-15/e35/26866289_690115051376278_3955654606054227968_n.jpg" alt="Miso Ramen">
		</a>
	</article>
{% endmacro %}


{{ layoutContent | safe }}
{% set postslist = collections.reviews %}
<h2 class="section-hed" id="all">All Recipes</h2>
<div class="col" aria-labelledby="all">
	<div class="highlights">
{% for post in postslist | reverse %}
	{% if post.data.type == 'review' %}
		{{ item(post) }}
	{% endif %}
{% endfor %}
	</div>
</div>